
<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
      <!--Import materialize.css-->

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      {{content}}
      <h1>Lubisz placki?</h1>
      <div class="progress">
          <div class="determinate" style="width: 70%"></div>
      </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Tak bardzo lubię placki. Najbardziej te robione przez sędziów piłkarskich.
              </span>
            </div>
          </div>
        </div>
      </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    </body>
  </html>



  <footer class="blue page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">O stronie</h5>
              <p class="grey-text text-lighten-4">Strona poświęcona sędziom piłkarskim</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Strony poświęcone sędziom piłkarskim</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="http://sedziapilkarski.pl">Sędziapiłkarski.pl</a></li>
                <li><a class="grey-text text-lighten-3" href="http://sedzia.pro">SedziaPro</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2016 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
